body {
    font-family: "Figtree";
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.container {
    padding: 24px;
}

.card {
    width: 24rem;
    border-radius: 1.25rem;
    border: 1px solid #111;
    box-shadow: 8px 8px 0 0 #000;
    background-color: #FFF;
}

.banner {
    border-radius: 0.63rem;
    max-width: 100%;
}

.tag {
    width: fit-content;
    background-color: #F4D04E;
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;

    font-size: 0.875rem;
    font-weight: 800;
    text-align: center;
}
p {
    margin: 0;
}
.date {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%; 
    padding-block: 0.75rem;
}
.title {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 150%;
}

.content {
    padding-top: 0.75rem;
    color: #6B6B6B;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
}

.author {
    display: flex;
    align-items: center;
}

.attribution { font-size: 0.6875rem; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
    .card {
        width: 20.4375rem;
    }
    .date, .tag {
        font-size: 0.75rem;
    }
    .title {
        font-size: 1.25rem;
    }
    .content {
        font-size: 0.875remŔ;
    }

}